
/*
.shop-header #hdInner-2 .headerIconCon ._partners{letter-spacing:0.02em}
.shop-header #hdInner-2 .headerIconCon ._partners:before{content:'\ea1d';font-family:'myfont';font-size:20px;font-weight:normal; display:none;}
*/


