@charset "utf-8";



.boWrap.shop_basic{}

.td_state{width:130px;}
.state_tag.complete{background:var(--mainColor) !important;}



#bo_v_header #bo_v_subject{font-size:17px;}
	#bo_v_atc #bo_v_con{font-size:14px;}







.fx-wrap{--border-color:#b0b0b0;border:1px solid var(--border-color);}
.fx-wrap .fx-list:not(:first-child){border-top:1px solid var(--border-color);}
.fx-wrap .fx-list .fx-list-label + .fx-list-con{border-left:1px solid var(--border-color);}
.fx-wrap .fx-list > *{padding:15px;font-size:15px;}
.fx-wrap .fx-list .fx-list-label{text-align:center;}




#bo_vc_w.inline{/*display:none;*/}
#bo_view_comment .listCo{position:relative;padding:25px;background:rgba(0,0,0,0.01);border:5px solid var(--mainColor) !important;}
#bo_view_comment .listCo .co_btnSet{position:absolute;right:15px;top:20px;z-index:99999;}














.boWrap.shop_basic{}
._shop_bo_list_ul{position:relative;}
._shop_bo_list_ul .btnEdit{opacity:0;transform:scale(0.5);transition-delay:0.3s}
._shop_bo_list_ul > li:hover .btnEdit{opacity:1;transform:scale(1);transition-delay:0s}
._shop_bo_list_ul .list_li{position:relative;padding:25px 7px;border-bottom:1px solid rgba(0,0,0,0.1);display:flex;align-items:flex-start;flex-direction:column;gap:6px}
._shop_bo_list_ul .list_li .list_infoSet{display:flex;align-items:center;gap:10px;color:rgba(71,78,103,0.85);}
._shop_bo_list_ul .list_li > *{width:100%;}
._shop_bo_list_ul .list_li > a{width:auto;}
._shop_bo_list_ul .list_li.bo_notice{background:rgba(71,78,103,0.025);}
._shop_bo_list_ul .list_li .listCon{position:relative;font-size:16px;display:flex;align-items:center;}
._shop_bo_list_ul .list_li .listCon .div_state{margin-left:auto;}
._shop_bo_list_ul .list_li .listCon > [class*='boIcon_']{margin-right:6px;}
._shop_bo_list_ul .list_li .listCon .listSubject{display:inline;font-size:15px;font-weight:500;word-break:break-all;}
._shop_bo_list_ul .list_li .listCon .listSubject > *:not(:first-child){margin-left:6px;}
._shop_bo_list_ul .list_li .cate_link{font-size:12px;font-weight:400;color:rgba(71,78,103,0.7);}



.nopadding ._shop_bo_list_ul .list_li{padding-left:var(--bo-mobile-inner-padding);padding-right:var(--bo-mobile-inner-padding);}