@charset "utf-8";




#bo_banner{margin-bottom:50px;}


.bo_gall .gall_ul{gap:30px  var(--gall-gap)!important;}

iframe{font-size:0;}

#_store_item_list{margin-top:50px;}






.bo_gall form{display:flex;flex-direction:column;gap:70px;}
.bo_gall ._ca_name{font-size:20px;font-weight:600;margin-bottom:20px;}




@media screen and (min-width:1401px) {
	#partners .gall_ul[data-cate='셰프관']{--gall-cols:6 !important;--gall-gap:100px !important}
}
@media screen and (min-width:1100px) and (max-width:1400px) {
	#partners .gall_ul[data-cate='셰프관']{--gall-cols:5 !important--gall-gap:45px !important}
}
@media screen and (max-width:1100px) {
	#partners .gall_ul[data-cate='셰프관']{--gall-cols:4 !important--gall-gap:45px !important}
}
