

#container #container_title{display:none !important;}

#bo_cate .btnSetting{top:-20px;left:-20px;}

.boCateContainer{position:relative;}
.boCateContainer .bootstrap-select{}
.boCateContainer .bootstrap-select .dropdown-toggle{/*background:transparent !important;*/}