@charset "utf-8";

.GALLERY .gallerySwiper .gall_thumb{max-height:250px;overflow:hidden;display:flex;align-items:center;justify-content:center;}{max-height:250px;overflow:hidden;display:flex;align-items:center;justify-content:center;}